@{
	ViewBag.Title = "UpdateConfig";
}

<div class="container">
	<h3 class="error">There is no Axosoft instance currently linked with this application.</h3>
	<p>Please update your Web.config file with your Axosoft URL, Client ID and Client Secret, and reload this page.</p>
	<p>You can find more information on obtaining a Client ID and Secret at
	<a href="http://developer.axosoft.com/getting-started">http://developer.axosoft.com/getting-started</a>.</p>
</div>
