@{
    ViewBag.Title = "ObtainPassword";
}

<form class="well" method="post">
	<div class="row">
		<input name="username" type="text" placeholder="Login ID" />
	</div>
	<div class="row">
		<input name="password" type="password" placeholder="Password" />
	</div>
	<div class="row">
		<button type="submit" class="btn">Submit</button>
	</div>
</form>
