@{
    ViewBag.Title = "ObtainPassword";
}

<form method="post">
	<input name="username" type="text" placeholder="Login ID" />
	<input name="password" type="password" placeholder="Password" />
	<button type="submit">Submit</button>
</form>
