<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OnTimeUrl" value="https://someaccount.ontimenow.com/" />
		<add key="ClientId" value="00000000-0000-0000-0000-000000000000" />
		<add key="ClientSecret" value="00000000-0000-0000-0000-000000000000" />
	</appSettings>
</configuration>