header {
	background-color: #333;
	color: #CCC;
	font-size: 24pt;
	line-height: 40pt;
	padding: 10px;
}

.error {
	color: #cc0c00;
}

.container textarea {
	width: 100%;
	height: 300px;
	resize: vertical;
}

#api-call-resource {
	width: 280px;
}
